# PostgreSQL connection string
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://sga_user:your_password@localhost:5432/sga_db?schema=public"

# JWT
JWT_SECRET="change-this-to-a-random-secret-at-least-32-chars"
JWT_EXPIRES_IN="8h"

# App
PORT=3000
NODE_ENV=production
